.app {
  height: 100vh;
  background:lightblue;
}
.tweet{
  height: 300px;
  width: 300px;
  border-radius: 30px;
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
